/* Cart Container */
.cart-container {
  width: 100%;
  padding: 3rem 2rem;
  box-sizing: border-box;
  background-color: #fafbfc;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Empty Cart Message */
  .empty-cart {
      text-align: center;
      color: #777;
      margin-top: 50px;

      h2 {
          font-size: 2rem;
          font-weight: 600;
          color: #444;
          margin-bottom: 1rem;
      }

      a {
          color: #00796b;
          font-size: 1.1rem;
          font-weight: 500;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
              color: #004d40;
          }
      }
  }

  /* Cart Items Section */
  .cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 3rem;

      .cart-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Adjusted gap for a compact design */
  padding: 1.5rem;
  box-sizing: border-box;
  overflow: hidden; /* Prevents content overflow from the container */

  .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    gap: 1.5rem;
    width: 100%; /* Ensures that the cart item takes full width of its parent container */
    box-sizing: border-box;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 1.5rem 0;
      background-color: #fff;
      thead {
          color: #333;
          font-weight: 600;
          font-size: 1.1rem;
          border-bottom: 2px solid #e0e0e0;
          th {
              padding: 1rem;
              text-align: left;
              color: #555;
              font-size: 1.1rem;
          }
          th, td {
              padding: 1rem;
              text-align: center;
              border-bottom: 1px solid #f0f0f0;
          }
      }
      tbody {
        background-color: #f4f4f4;
          padding-top: 12px;
          font-size: 1rem;
          color: #444;
          td {
              color: #666;
              font-size: 1rem;
            }
            tr:hover {
              background-color: #f9f9f9;
              cursor: pointer;
            }
            
          }
          
      }
      .price{
        color: #004d40;
        font-weight: 600;
      }
    .image img {
      width: 90px; /* Adjusted for a cleaner, more compact look */
      height: 90px;
      object-fit: cover;
      object-position: top;
      border-radius: 8px;
      transition: transform 0.3s ease;

     
    }

    .content2 {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h4 {
        font-size: 1.3rem;
        font-weight: bold;
        color: #333;
        margin: 0;
      }

      h3 {
        font-size: 1.2rem; /* Slightly smaller to fit within the container */
        font-weight: 600;
        color: #71170d;
        margin: 0;
      }
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      min-width: 140px;

      span {
        font-size: 1.5rem;
        cursor: pointer;
        color: #333;
      }

      .decrease,
      .increase {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        background-color: #f2f2f2;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #ececec;
        }
      }

      .quantity-text {
        padding: 0.5rem 0.1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 1.2rem;
        text-align: center;
        width: 60px;
        background-color: #f9f9f9;
      }
    }
  }
}

      

      /* Cart Summary Section */
      .cart-summary {
          width: 28%;
          background-color: #ffffff;
          padding: 2rem;
          border-radius: 10px;
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
          font-family: 'Arial', sans-serif;

          .summary-details {
              display: flex;
              flex-direction: column;
              gap: 1.5rem;

              h2 {
                  font-size: 1.8rem;
                  font-weight: 600;
                  color: #333;
              }

              table {
                  width: 100%;
                  border-collapse: collapse;

                  th, td {
                      padding: 1rem;
                      text-align: left;
                      border-bottom: 1px solid #f0f0f0;
                  }

                  th {
                      color: #555;
                      font-weight: 500;
                  }

                  td {
                      color: #666;
                      font-size: 1rem;
                  }
              }
          }

          .payment-details {
              margin-top: 2rem;

              .details {
                  p {
                      font-size: 1.1rem;
                      margin: 0.5rem 0;
                      color: #444;
                  }

                  .discount {
                      color: #e74c3c;
                      font-weight: bold;
                  }

                  .total-price {
                      font-weight: 700;
                      font-size: 1.2rem;
                  }

                  .total-amount {
                      font-size: 1.2rem;
                      font-weight: 700;
                      color: #2c6b3f;
                  }
              }

              .address-select {
                  margin: 20px 0 10px;

                  select {
                      width: 100%;
                      padding: 12px;
                      margin-top: 5px;
                      border-radius: 5px;
                      border: 1px solid #ccc;
                      font-size: 1rem;
                  }

                  h4 {
                      font-size: 16px;
                      font-weight: 600;
                  }
              }

              .payment-button button {
                  width: 100%;
                  background-color: #025405;
                  color: white;
                  font-weight: bold;
                  border: none;
                  border-radius: 8px;
                  cursor: pointer;
                  font-size: 1.1rem;
                  padding: 1rem;
                  transition: background-color 0.3s ease, transform 0.2s ease-in-out;

                  &:hover {
                      background-color: #036307;
                      transform: translateY(-2px);
                  }

                  &:focus {
                      outline: none;
                      box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
                  }

                  &:active {
                      transform: translateY(1px);
                  }
              }
          }
      }
  }

  /* Responsive Design */
  @media (max-width: 768px) {
      .cart-items {
          width: 100%;
          padding: 0.5rem;
      }

      .cart-item {
          flex-direction: column;
          align-items: flex-start;
          padding: 1rem;
      }

      .content {
          margin-left: 0;
          margin-top: 1rem;
      }

      .remove button {
          position: initial;
          margin-top: 1rem;
      }

      .cart-summary {
          width: 100%;
          padding: 1.5rem;
      }

      h2 {
          font-size: 1.6rem;
      }

      .details p {
          font-size: 1rem;
      }

      .payment-button button {
          font-size: 1rem;
          padding: 1rem;
      }
  }
}

.content1{
    margin-left: 70px;
}
.content2{
    margin-left: 100px;
}